$primary-color: #fff;
$black-color: #000;
$secondary-color: #d84a49;
$bg-color: #277793;
// breakpoints
$laptop-l: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobile-l: 425px;
$mobile-m: 375px;
$mobile-s: 320px;
// /breakpoints
